<header class="site-header" role="banner">

  <!-- AQUI VAI A LOGO -->
  <div class="wrapperheaderlogo">
    <a class="site-title" rel="author" href="{{ site.homeurl }}">
      <img src="{{ site.homeurl }}img/fc_logos/fronteira-cast-logo-redondo.png" class="media-object  img-responsive img-thumbnail">
    </a>
  </div>

  <!-- AQUI VAI OS LINKS-->
  <div class="wrapperheader">
    {% for links in site.data.links_header %}
      <div class="linksAccess">
          <a href="{{ links.url }}" title="{{ links.title }}">
              <img class="img" src="{{ site.homeurl }}{{ links.icon }}">{{ links.name }}</a>
      </div>
    {% endfor %}

      <div class="linksAccess">
        <a href="{{ site.homeurl }}feeds/feed_fronteiracast.xml" title="Inscreva-se via RSS">
          <img class="rss" src="{{ site.homeurl }}img/icons/RSS.png"/>RSS</a>
      </div>
  </div>

  <div class="wrapperheader">
      {% for author in site.data.authors %}
        <div class="authorAccess">
          <a href="{{ author.page }}" rel="external" title="{{ author.name }}">
            <img src="{{ site.homeurl }}{{ author.img }}" data-loaded="true">{{ author.name }}</a>
        </div>
      {% endfor %}
  </div>

</header>
 