<header class="site-header" role="banner">

  <!-- AQUI VAI A LOGO -->
  <div class="wrapperheaderlogo">
    <a class="site-title" rel="author" href="{{ site.homeurl }}">
      <img src="{{ site.homeurl }}img/fronteira-cast-logo-redondo.png" class="media-object  img-responsive img-thumbnail">
    </a>
  </div>

  <!-- AQUI VAI OS LINKS-->
  <div class="wrapperheader">
      <div class="linksAccess">
          <a href="" title="Apple podcast">
              <img class="img" src="{{ site.homeurl }}img/itunes.png" alt="Apple Podcast PNG">Apple</a>
      </div>
      <div class="linksAccess">
          <a href="" title="Google podcast">
              <img class="img" src="{{ site.homeurl }}img/googlepodcast.png" alt="Google Podcast PNG">Google</a>
      </div>
      <div class="linksAccess">
        <a href="https://open.spotify.com/show/4XeEkOH5ctprTRC4IgeDpY" title="Spotify podcast">
          <img class="img" src="{{ site.homeurl }}img/spotify.png" alt="Transparent Spotify Png"/>Spotify</a>
      </div>
      <div class="linksAccess">
          <a href="https://castbox.fm/channel/id2435909?country=br" title="CastBox">
              <img class="img" src="{{ site.homeurl }}img/castbox.png" alt="CastBox Podcast PNG">CastBox</a>
      </div>
      <div class="linksAccess">
        <a href="" title="Inscreva-se via RSS">
          <img class="rss" src="{{ site.homeurl }}img/RSS.png" alt="Transparent Spotify Png"/>RSS</a>
      </div>
  </div>

  <!-- AQUI VAI OS AUTORES DO PODCAST -->
  <div class="wrapperheader">
    <div class="authorAccess">
      <a href="" rel="external" title="Cleisson Vieira Raimundi">
        <img src="{{ site.homeurl }}img/cleisson.jpeg" data-loaded="true">Cleisson V. Raimundi</a>
    </div>
    <div class="authorAccess">
      <a href="" rel="external" title="Isabeli Rosana Reik">
        <img src="{{ site.homeurl }}img/isabeli.jpeg" data-loaded="true">Isabeli Rosana Reik</a>
    </div>     
    <div class="authorAccess">
      <a href="" rel="external" title="Matheus Dias Negrao">
        <img src="{{ site.homeurl }}img/negrao.jpeg" data-loaded="true">Matheus Dias Negrao</a>
    </div>
    <div class="authorAccess">
      <a href="" rel="external" title="Vinicius de Jesus dos Reis">
        <img src="{{ site.homeurl }}img/vini.jpeg" data-loaded="true">Vinicius dos Reis</a>
    </div>      
  </div>

</header>
