@charset "UTF-8";



// Header podcast
.header-podcast-title h1, .header-podcast-title h5, .header-podcast-title h6 {
    color: rgb(143, 139, 139);
    font-family: Arial, Helvetica, sans-serif;
}

.header-podcast-title h1 {
    font-size: 250%;
    font-weight: bold;
    padding-top: 80px;
}

.header-podcast-title {
    top: 0px;
}

.arrow-back {
    background-color: rgba(197, 200, 207, 0.2);
    border-radius: 5px;
    position: relative;
    // left: 0px;
    top: 320px;
    width: 200px;
    height: 50px;
}

.arrow-back a {
    position: relative;
    top: -370px;
    font-size: 18px;
    color: inherit;
    text-decoration:none;
}

/* mouse over */
.arrow-back a:hover {
    color: rgb(167, 157, 157);
}


// Relacionado aos links para acesso a outras plataformas do header

.linksAccess {
    margin: 10px;
    float: left;
    width: 130px;
    height: 60px;
    background-color: rgba(197, 200, 207, 0.2);
    top: -50%;
}

.linksAccess .img {
    float: left;
    width: 40%;
    height: auto;
    margin: 3%;
}

.linksAccess .rss {
    float: left;
    width: 47%;
    height: auto;
}

.linksAccess a {
    font-size: 100%;
    float: left;
    line-height: 350%;
}

.linksAccess a, .authorAccess a { // Para Autores e Links
    text-align: center;
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.linksAccess, .authorAccess img { // Para Autores e Links
    border-radius: 6%;
}

.linksAccess a {
    font-size: 100%;
}

// Relacionado aos autores no header
.authorAccess {
    margin: 30px;
    float: left;
    width: 80px;
}
  
.authorAccess img {
    width: 100%;
    // height: auto;
    
}

.authorAccess a {
    font-size: 80%;
}

//Outros 

.wrapperheader, .wrapperheaderlogo, .wrapperheaderpodcast, .wrapperheaderplayer {
    position: relative;
    float: left;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
}

.wrapperheaderplayer {
    height: 80px;
}

.wrapperheaderpodcast {
    height: 300px;
}

.wrapperheaderlogo {
    height: 45%;
}

.wrapperheader {
    top: 50px;
    height: 150px; 
}

.wrapperheaderlogo a {
    position: relative;
    width: 23%;
    top: 45px;
}

.seta img {
    width: 10%;
}

.fontep a{
    font-family: Arial, Helvetica, sans-serif;
    color: inherit;
    font-weight: bold;
}

@media only screen and (max-width: 900px) {
    .authorAccess {
        margin: 5px;
        width: 75px;
    }
      
    .authorAccess img {
        width: 80%;
        // height: auto;
        
    }
    
    .authorAccess a {
        font-size: 80%;
    }

    .linksAccess{
        position: relative;
        margin: 5px;
        width: 130px;
        height: 70px;
        top: -25%;
    }

    .linksAccess .img {
        width: 40px;
        margin-left: 24%;
    }
    
    .linksAccess .rss {
        width: 55%;
        margin-left: 21%;
    }

    .linksAccess a {
        font-size: 100%;
        line-height: 180%;
    }


    .header-podcast-title h1 {
        padding-top: 55px;
        font-size: 20px;

    }

    .top {
        top: 42px;
    }

    .arrow-back {
        left: -5px;
        top: 180px;
        width: 35px;
        height: 30px;
    }
    
    .arrow-back a {
        top: -203px;
        font-size: 0px;
    }

    .seta img {
        width: 20px;
    }

    .wrapperheaderpodcast {
        height: 150px;
    }

    .wrapperheaderplayer {
        height: 50px;
    }

    .wrapperheaderlogo {
        height: 45%;
    }
    
    .wrapperheader {
        position: relative;
        top: 45px;
        height: 100px; 
    }
    
    .wrapperheaderlogo a {
        width: 30%;
        top: 15px;
    }

    .site-header {
        min-height: 350px;
    }
    
    .site-header-podcast {
        min-height: 100px;
        padding: 10px;
    }
}