---
layout: default
---

<!-- "page." se usa para citar o que está acima /\ "page.layout" por exemplo -->
<!-- "post." busca o que está dentro da pasta post, dentro dos "---", como exemplo acima do page -->
<!-- "site." busca dentro do config.yml, todas as váriaveis, como se fosse globais -->


  
  <div class="content list">
    {% if site.posts.size == 0 %}
      <h2>No post found</h2>
    {% else %}
      {% assign my_counter = site.posts.size %}
      {% for post in site.posts %}
        <div class="list-item borda-inferior">
          <h2 class="list-post-title fontep">
            <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
          </h2>
          <p>Episódio #{{ my_counter }}</p>
          {% assign my_counter = my_counter | minus: 1 %}
          <div>
            <h4>{{ post.description }}</h4>
          </div>
          <div>
            <audio class="pod" preload="none" controls="controls">
              <source src="{{ site.homeurl }}podcasts/{{ post.audio }}" type="audio/mpeg"/>
              seu navegador não suporta HTML5
            </audio>
          </div>
          <div class="list-post-date">
            <time>{{ post.date | date_to_string }}</time>
          </div>
        </div>
        
      {% endfor %}
    {% endif %}
  </div>